<?xml version="1.0"?>
<atualizador>
  <versao>1.0.0.0</versao>
  <arquivos>
    <arquivo modo="adicionar">
      <nome>CompararRepositorios.exe</nome>
      <link>https://github.com/Thiago31/SistemaAtualizacao/raw/main/Release/CompararRepositorios.exe</link>
    </arquivo>
    <arquivo modo="adicionar">
      <nome>CompararRepositorios.exe.config</nome>
      <link>https://raw.githubusercontent.com/Thiago31/SistemaAtualizacao/main/Release/CompararRepositorios.exe.config</link>
    </arquivo>
    <arquivo modo="adicionar">
      <nome>CompararRepositorios.pdb</nome>
      <link>https://github.com/Thiago31/SistemaAtualizacao/raw/main/Release/CompararRepositorios.pdb</link>
    </arquivo>
    <arquivo modo="remover">
      <nome>credencial.json</nome>
      <link></link>
    </arquivo>
    <arquivo modo="remover">
      <nome>Newtonsoft.Json.dll</nome>
      <link></link>
    </arquivo>
    <arquivo modo="remover">
      <nome>Newtonsoft.Json.xml</nome>
      <link></link>
    </arquivo>
  </arquivos>
</atualizador>
