<?xml version="1.0"?>
<atualizador>
  <versao>1.0.0.0</versao>
  <arquivos>
    <arquivo>
      <nome>arquivo1.exe</nome>
      <link>http://www.caminho.com/arquivo1</link>
    </arquivo>
    <arquivo>
      <nome>arquivo2.exe</nome>
      <link>http://www.caminho.com/arquivo2</link>
    </arquivo>
    <arquivo>
      <nome>arquivo3.exe</nome>
      <link>http://www.caminho.com/arquivo3</link>
    </arquivo>
  </arquivos>
</atualizador>
